/* Estilos para las pantallas mas pequeñas que 768px */


/* Estilos para las pantallas mas grandes que 768px */
/* @media screen and (min-width: 769px){
    .navbar {
        display: flex;
        color: white;
        padding: 10px;
        justify-content: flex-end;
    }
    .navbar a {
        margin-right: 20px;
        text-decoration: none;
        color: white;
    }
} */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, #6193B1, #ffffff);
}

/* ESTILOS DE LA BARRA DE NAVEGACIÓN */
nav {
    background-color: #3E5971;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    height: 75px;
    width: 100%;
}
nav a {
    color: #fff;
    background-color: #3E5971;
    transition: 0.5s;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px 15px;
    border-radius: 10px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: auto;
}

nav ul li a {
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 8px;
}

li a.active, li a:hover {
    background: #000090;
    transition: .5s;
}

nav a:hover {
    background: #517798;
    border-radius: 10px;
}

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 10px 0;
    line-height: 20px;
}

.logo {
    width: 80px; 
    height: 80px; 
    border-radius: 50%; 
    margin-right: 10px; 
}

.logo-container {
    display: flex;
    align-items: center;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* .navbar {
    background-color: #3E5971;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .navbar a {
    color: #fff;
    background-color: #3E5971;
    transition: background-color 0.5s;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px 15px;
    border-radius: 10px;
} */

/* .navbar a:hover{
    background: #517798;
    border-radius: 10px;
} */

/* .logo {
    width: 80px; 
    height: 80px; 
    border-radius: 50%; 
    margin-right: 10px; 
}

.logo-container {
    display: flex;
    align-items: center;
} */

/* .nav-links{
    display: flex;
    align-items: center;
    font-size: large;
} */

.content {
    flex: 1;
    /* padding-bottom: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .table-controls {
    float: right;
}

.gehitu {
    width: 20px;
} */

/* .div-table{
    position: relative;
} */
h1{
    text-align: center;
}

.content .botoiak{
    float: right;
    padding: 15px;
}

.content input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.content .botoiak button{
    /* float: right; */
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #cfcfcf;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.content .botoiak button:hover{
    background: #c2c2c2;
}

/* .content .botoiak form{
    height: 20px;
    width: 20px;
} */

/* table{
    border-collapse: collapse;
    border-width: 5px;
    border-style: ridge;
    border-color: #000000;
    text-align: center;
    width: 65%;
    background-color: #ffffff;
} */

/* table th, table td{
    border: 1px solid #000000;
    padding: 10px;
} */

table th{
    background-color: #23a78a;
    color: #ffffff;
}

table tr:nth-child(odd){
    background-color: #f8f9fa;
}

table tr:nth-child(even){
    background-color: #dfe2e6;
}

table{
    border-collapse: collapse;
    border-width: 5px;
    /* border-style: ridge;
    border-color: #000000; */
    text-align: center;
    width: 60%;
    background-color: #ffffff;
}

table th, table td{
    padding: 10px;
}

/* .tab-control{
    text-align: center;
    margin: 10px 0;
} */

/* .tab-control img {
    width: 12px;
} */

table tr:hover{
    background-color: rgb(187, 187, 187);
}

.orrialdeBotoiak{
    display: flex;
    align-items: center;
}

.aurrekoBotoia, .hurrengoBotoia{
    margin: 20px;
}

.footer {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 0px;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    /* position: fixed;
    bottom: 0; */
    /* z-index: 999;
    margin-bottom: 70px; */
}

.sanjorge {
    width: 80px;
    height: 50px;
    padding: 0 20px;
}

.telef{
    width: 20px;
    height: 20px;
    padding: 0px 5px 0px 10px;
}

.correo{
    width: 25px;
    height: 25px;
    padding: 10px;
}

.twitter{
    width: 18px;
    height: 18px;
    padding: 5px;
}

.facebook{
    width: 30px;
    height: 30px;
    padding: 5px;
}

.instagram{
    width: 20px;
    height: 20px;
    padding: 5px;
}

/* Estilos para las pantallas mas grandes que 769px */
@media (max-width: 1200px){

    .checkbtn{
        display: block;
    }

    nav {
        display: flex;
        color: white;
        /* padding: 10px; */
        justify-content: flex-end;
    }

    nav ul {
        position: fixed;
        /* width: 100%; */
        height: 100vh;
        background: #3E5971;
        top: 80px; /* Establecer la posición top igual a la altura del nav */
        left: -100%;
        text-align: center;
        z-index: 2;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 16px;
    }

    nav .nav-links {
        padding: 8%;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
    }

    nav .nav-links li:last-child {
        border-top: 1px solid white;
        padding-top: 10px;
        margin-top: 10px;
    }

    li a:hover, li a.active {
        /* padding: 5%;  */
        width: 100%; 
    }

    .logo-container{
        margin-right: auto;
    }

    #check:checked ~ ul {
        left: 0;
        /* width: 33%; */
    }

    /* table {
        overflow: auto;
        width: 70%;
        padding: 0;
    } */

    /* th, td {
        padding: 5px;
        font-size: 12px;
    }

    th {
        background-color: #d3d3d3;
    } */

    .footer {
        font-size: 12px;
    }
} 

/* @media screen and (max-width: 1200px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    nav a {
        margin: 10px 0;
    }
} */
