body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    min-height: calc(100vh - 70px); 
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, #6193B1, #ffffff);
}

.navbar {
    background-color: #3E5971;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.navbar a {
    color: #fff;
    background-color: #3E5971;
    transition: background-color 0.5s;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px 15px;
    border-radius: 10px;
}

.navbar a:hover{
    background: #517798;
    border-radius: 10px;
}

.logo {
    width: 80px; /* Ancho de la imagen */
    height: 80px; /* Altura de la imagen */
    border-radius: 50%; /* Redondea la imagen */
    margin-right: 10px; /* Margen a la derecha de la imagen */
}

.logo-container {
    display: flex;
    align-items: center;
}

.nav-links{
    display: flex;
    align-items: center;
}

.content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    text-align: center;
}

.content .botoiak{
    float: right;
    padding: 15px;
}

.content input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.content .botoiak button{
    /* float: right; */
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #cfcfcf;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.content .botoiak button:hover{
    background: #c2c2c2;
}

/* .content .botoiak form{
    height: 20px;
    width: 20px;
} */

table{
    border-collapse: collapse;
    /* border-width: 5px;
    border-style: ridge;
    border-color: #000000; */
    text-align: center;
    width: 65%;
    background-color: #ffffff;
}

table th, table td{
    /* border: 1px solid #000000; */
    padding: 10px;
}

table th{
    background-color: #23a78a;
    color: #ffffff;
}

table tr:nth-child(odd){
    background-color: #f8f9fa;
}

table tr:nth-child(even){
    background-color: #dfe2e6;
}

table tr:hover{
    background-color: rgb(187, 187, 187);
}

.orrialdeBotoiak{
    display: flex;
    align-items: center;
}

.aurrekoBotoia, .hurrengoBotoia{
    margin: 20px;
}

#grafikoa{
    width: 100px; 
    height: 100px;
    max-width: 60%;
    /* height: auto; */
    margin: auto;
    display: block;
    padding-bottom: 20px;
}

.footer {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 0px;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    /* position: fixed;
    bottom: 0; */
    /* z-index: 999;
    margin-bottom: 70px; */
}

.sanjorge {
    width: 80px;
    height: 50px;
    padding: 0 20px;
}

.telef{
    width: 20px;
    height: 20px;
    padding: 0px 5px 0px 10px;
}

.correo{
    width: 25px;
    height: 25px;
    padding: 10px;
}

.twitter{
    width: 18px;
    height: 18px;
    padding: 5px;
}

.facebook{
    width: 30px;
    height: 30px;
    padding: 5px;
}

.instagram{
    width: 20px;
    height: 20px;
    padding: 5px;
}

@media screen and (max-width: 992px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .navbar a {
        margin: 10px 0;
    }
}